<div class="modal fade" id="order-history-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Order History</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                        <div class="form-group">
                            <label class="control-label">Start Date:</label>
                            <div id="start-date-picker" class="input-group date">
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                        <div class="form-group">
                            <label class="control-label">End Date:</label>
                            <div id="end-date-picker" class="input-group date">
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-primary btn-group-justified" data-bind="click: runTable()">
                        Apply filters
                    </button>
                </div>
                <br />
                
                <div class="table-responsive">
                    <table id="order-history-table" class="table table-hover table-bordered display">
                        <thead>
                            <tr>
                                <th></th>
                                <th>ID</th>
                                <th>Date</th>
                                <th>Total Price</th>
                                <th>Products Quantity</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    OrderHistory.orderHistoryUrl = '@Url.Action("Orders", "Home")';
</script>

